Source: gecosws-hc-client
Section: utils
Priority: optional
Maintainer: Gecos Team <gecos@guadalinex.org>
Build-Depends: debhelper, cdbs, python3-all-dev, dh-python, git
Build-Depends-Indep: gettext, python3-distutils-extra
Standards-Version: 1.0.0
Homepage: https://github.com/gecos-team/gecoshc-client
Vcs-Browser: https://github.com/gecos-team/gecoshc-client
Vcs-Bzr: https://github.com/gecos-team/gecoshc-client
XS-Python-Version: current

Package: gecosws-hc-client
Architecture: all
Depends: ${misc:Depends}, python3, python3-requests, python3-tk, x11vnc
Conflicts: python3-websocket
Description: GECOS Help Channel client
 Desktop Application used to provide Help Channel support.

